
/* General rules */

body{
    background-color: rgb(59 130 246 / .5);
}

.container-fluid{
    padding: 5% 15%;
}

/* Navbar */

#navbar{
    background-color: black;
}

#navbar .container-fluid{
    padding: 0 15%;
}

.minha-foto {
    width: 200px;
}

/* title */

#title h1{
    text-align: center;
}

#title img{
    padding: auto;
}
